<div class='card-wrapper'>
  <%= image_tag card.filepath, class: "nr-card", id: card.name.gsub(/\s/, '_') %>
  <div class='card-button-wrapper'>
    <div class='push-button card-button'
         data-card-id="<%= card.id %>"
         data-card-name="<%= card.name %>">
      Push  
    </div>
    <div class='own-button card-button'
         active="<%= card.owned %>"
         data-card-id="<%= card.id %>">
      Own
    </div>
    <div class='proxy-button card-button'
         active="<%= card.proxied %>"
         data-card-id="<%= card.id %>">Proxy</div>
  </div>
</div>